.font-link {
    font-family: 'Nunito', cursive;
}

.content {
    display: inline-flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.divContentTop{
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 100%;
}

.leftColumn {
    width: 65%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.divViewInRoom {
    display: inline-flex;
    margin-right: 60px;
    cursor: pointer;
}

.viewInRoomText {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
}

.divAr {
    display: inline-flex;
    margin-left: 60px;
    cursor: pointer;
}

.arText {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
}

.descriptionTitle {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 16px;
    cursor: pointer;
}

.descriptionBody {
    margin-bottom: 26px;
    text-align: left;
    display: inline-flex;
    width: 100%;
    font-size: 20px;
}

.separationLine {
    border: 1px solid gray;
    margin-bottom: 16px;
}

.paintingInfosLeftColumn {
    width: 10%;
}

.itemsKeyInfoStyle {
    font-size: 20px;
    margin-bottom: 10px;
}

.itemsKeyValueStyle {
    font-size: 20px;
    margin-bottom: 10px;
}

.paintingInfosRightColumn {
    width: 80%;
    padding-left: 2%;
}

.rightColumn {
    vertical-align: top;
    width: 31%;
    padding-left: 2%;
    padding-right: 5%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.divFullName {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.paintingName {
    font-weight: 800;
    font-size: 30px;
}

.divArtistName {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    align-items: center;
    margin-bottom: 22px;
}

.artistName {
    color: orange;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.artistCountry {
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.paintingTypeDate {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.paintingInfos {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.pricing {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 800;
}

.acquireButton {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin: 1% auto 20px;
}

.makeAnOfferButton {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    margin: 1% auto 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.preReserveDiv {
    display: flex;
    justify-content: left;
    margin-bottom: 18px;
}

.preReserveText {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.estimatedDeliveryFeeDiv {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.estimatedDeliveryFeeText {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.accurateDeliveryFeeText {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.residenceAndZipCodeArea {
    height: 40px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    align-items: center;
    margin-bottom: 22px;
    vertical-align: center;
    text-align: center;
}

.residenceZip {
    display: flex;
    border: 2px solid gray;
    background-color: lightgray;
    align-items: center;
    horiz-align: center;
    padding-left: 10px;
    height: 40px;
    width: 43%;
    margin-right: 2%;
    font-size: 18px;
}

.residenceCode {
    display: flex;
    border: 2px solid gray;
    background-color: lightgray;
    align-items: center;
    horiz-align: center;
    padding-left: 10px;
    height: 40px;
    width: 43%;
    margin-left: 2%;
    font-size: 18px;
}

.divContentCarousel {
    display: inline-flex;
    justify-content: space-between;
    width: 92%;
    margin: 30px 4%;
    align-items: center;
    overflow: hidden;
}

.pictureDiv{
    display: inline-block;
}
